<!DOCTYPE html>
<!--解决idea thymeleaf 表达式模板报红波浪线-->
<!--suppress ALL -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script th:replace="common/head::static"></script>
    <style>
        .layui-card-body {
            height: 100px;
        }
    </style>
    <script th:src="@{/common/echarts/echarts.js}"></script>

</head>
<body >
<div class="layui-row layui-col-space15" style="padding: 20px;">
    <!-- 第一行选择 + 复分率按钮 -->
    <div class=" lay-row">
        <form class="layui-form" id="infoForm">
            <div class="layui-row">
                <div class="layui-col-md3">
                    <div class="layui-inline">
                        <label class="layui-form-label">起始时间</label>
                        <div class="layui-input-block">
                            <input type="text" name="startDate" id="startDate" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>
                <div class="layui-col-md3">
                    <div class="layui-inline">
                        <label class="layui-form-label">结束时间</label>
                        <div class="layui-input-block">
                            <input type="text" name="endDate" id="endDate" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>

                <!-- <button class="layui-btn" id="casesTransferred">
                     下拉菜单
                     <i class="layui-icon layui-icon-down layui-font-12"></i>
                 </button>

                 <button class="layui-btn" id="secondInfo">
                     下拉菜单
                     <i class="layui-icon layui-icon-down layui-font-12"></i>
                 </button>-->
                <div class="layui-col-md1">
                    <label class="layui-form-label">联动选择框</label>
                </div>
                <div class="layui-col-md2" >
                    <select name="firstClassify" class="layui-select" lay-filter="firstClassify" id="firstClassify">
                        <option value="0" selected=""></option>
                        <option value="1" >个人转案情况</option>
                        <option value="2">部级转案情况</option>
                        <option value="3">室级转案情况</option>
                        <option value="4">领域转案情况</option>
                    </select>
                </div>
                <div class="layui-col-md2" >
                    <select name="secondClassify" class="layui-select" id="secondClassify"  lay-filter="secondClassify" lay-search >
                        <option value=""></option>
                    </select>
                </div>
               <div class="layui-col-md1">
                   <button type="button" class="layui-btn layui-btn-primary layui-border-blue" onclick="">加副分率</button>
               </div>
            </div><!-- end form 中的行-->
        </form><!-- end form-->
    </div><!-- end -->
    <!-- 第一组按钮 -->
    <div class="layui-row">
        <div class="layui-col-md2">
            <button type="button" class="layui-btn layui-btn-primary layui-border-orange">日处理进案</button>
        </div>
        <div class="layui-col-md2">
            <button type="button" class="layui-btn layui-btn-primary layui-border-black" >日转出案件</button>
        </div>
        <div class="layui-col-md2">
            <button type="button" class="layui-btn layui-btn-primary layui-border-orange">周处理进案</button>
        </div>
        <div class="layui-col-md2">
            <button type="button" class="layui-btn layui-btn-primary layui-border-black">周转出案件</button>
        </div>
        <div class="layui-col-md2">
            <button type="button" class="layui-btn layui-btn-primary layui-border-orange">月处理进案</button>
        </div>
        <div class="layui-col-md2">
            <button type="button" class="layui-btn layui-btn-primary layui-border-black">月转出进案</button>
        </div>
    </div>
    <!-- 第二组按钮 -->
    <div class="layui-row">
        <div class="layui-col-md2">
            <button type="button" class="layui-btn layui-btn-primary layui-border-orange" onclick="etir(1,10);etirAll()">有效转入率</button>
        </div>
        <div class="layui-col-md2">
            <button type="button" class="layui-btn layui-btn-primary layui-border-black" onclick="effectiveTransferOutRate(1,10);effectiveAll()">有效转出率</button>
        </div>
        <div class="layui-col-md2">
            <button type="button" class="layui-btn layui-btn-primary layui-border-orange" onclick="handlingRateOfTransferredCases(1,10);handlingRateOfTransferredCasesAll()">处理转案率</button>
        </div>
        <div class="layui-col-md2">
            <button type="button" class="layui-btn layui-btn-primary layui-border-black" onclick="accuracyOfTransOut(1,10);accuracyOfTransOutAll()">转出案件率</button>
        </div>
        <div class="layui-col-md2">
            <button type="button" class="layui-btn layui-btn-primary layui-border-orange" onclick="receiveRateOfTransOut(1,10);receiveRateOfTransOutAll()">转出接受率</button>
        </div>
        <div class="layui-col-md2">
            <button type="button" class="layui-btn layui-btn-primary layui-border-black" onclick="transferInAcceptanceRate(1,10);transferInAcceptanceRateAll()">转入接受率</button>
        </div>
    </div>

    <!--<div class="layui-row">
        <div class="layui-col-md1">
            <button  onclick="testPost()">测试按钮testPost方法</button>
        </div>
    </div>-->

    <!--开始卡片显示 -->
    <div class="layui-tab layui-tab-brief" lay-filter="tabBrief">
        <ul class="layui-tab-title">
            <li class="layui-this">表格统计</li>
            <li>图表展示</li>
        </ul>
        <div class="layui-tab-content" style="height: 100px;">
            <div class="layui-tab-item layui-show">
                <table class="layui-hide" id="demoTable"></table>
                <div id="pageNav"></div>
                <table class="layui-hide" id="depTable"></table>
            </div>
            <div class="layui-tab-item">
                <div id="demoEcharts" style="width:800px;height:800px;"></div>
            </div>
        </div>
    </div>


</div>
</body>
<script th:src="@{/ceshi/js/ceshi.js}"></script>
</html>
